/* Desktop Nav */
.navbarContainer {
  background: #a7d7c5;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

header {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.navHeader {
  font-size: 2rem;
  letter-spacing: 5px;
  text-decoration: none;
}

.navHeader,
.navLinks li .navLink {
  color: #5c8d89;
  font-weight: 700;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.navLinks li .navLink {
  text-decoration: none;
}

.active {
  color: #68b0ab;
}
